programs/*
textFiles/*
.vscode/*
**/FundamentosInvestigacion/*
**/CalculoDiferencial/*
**/MatematicasDiscretas/*
**/IntroduccionIngSistemas/*
**/IngSistemas/*
**/FundamentosProgramacion/Java/TareasExtra/*