programs/*
textFiles/*
.vscode/*
**/FundamentosInvestigacion/*
**/CalculoDiferencial/*
**/MatematicasDiscretas/*
**/IntroduccionIngSistemas/*
**/IngSistemas/*
**/FundamentosProgramacion/Java/TareasExtra/*
**/InglesI/*
**/English/*
**/ContabilidadFinanciera/*
**/POO/*.pdf
**/POO/*.docx
**/POO/*.doc
**/CulturaEmpresarial/*
**/.vs/*
**/Integrales/*
**/Empresarial/*